MvcClient/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62308/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62308/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62308/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetAllUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUser" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMemberById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMemberById" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMemberById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMemberByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteMemberById_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMemberById" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteMemberById_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMemberByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddMember_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMember" />
  </wsdl:message>
  <wsdl:message name="IService1_AddMember_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMemberResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateMember_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMember" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateMember_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMemberResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetAllUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllUser" message="tns:IService1_GetAllUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllUserResponse" message="tns:IService1_GetAllUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMemberById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetMemberById" message="tns:IService1_GetMemberById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetMemberByIdResponse" message="tns:IService1_GetMemberById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteMemberById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteMemberById" message="tns:IService1_DeleteMemberById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteMemberByIdResponse" message="tns:IService1_DeleteMemberById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMember">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddMember" message="tns:IService1_AddMember_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddMemberResponse" message="tns:IService1_AddMember_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMember">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateMember" message="tns:IService1_UpdateMember_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateMemberResponse" message="tns:IService1_UpdateMember_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllUser">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMemberById">
      <soap:operation soapAction="http://tempuri.org/IService1/GetMemberById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMemberById">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteMemberById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMember">
      <soap:operation soapAction="http://tempuri.org/IService1/AddMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMember">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:62308/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>